

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 500px) {}