.central-subtitle {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 24px 0;
}

.central-subtitle span {
    color: var(--aqua-color);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.events-title {
    color: var(--black-color);
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.event-excerpt {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 40px;
}

.events-image {
    position: relative;
    padding-top: 60%;
}

.events-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events-body {
    padding: 16px;
}

.events-central-text {
    padding-bottom: 64px;
}
.events-sec{
    padding-bottom: 120px;
}
@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 500px) {}