.sports-marine-dropdown {
    position: absolute;
    top: 84px;
    left: 0;
    width: 100%;
    max-width: 320px;
    background: var(--white-color);
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    display: none;
}
.sports-marine-dropdown.show-mega-menu{
    display: block;
}
.sports-marine-dropdown ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.sports-marine-dropdown ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.sports-marine-dropdown ul li a{
    color: var(--black-color);
}
.sports-marine-dropdown ul li a:hover{
    color: var(--black-color);
}


@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 500px) {}