.fixed-height-img {
    height: 100%;
    max-height: 480px;
}

.dark-sec {
    display: flex;
    flex-wrap: wrap;
}

.dark-col {
    width: calc(100% / 2);
}

.dark-sec-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.dark-sec-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dark-img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dark-sec-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.trust-sporst-box {
    display: flex;
    gap: 40px;
}

.trust-sports-col ul {
    padding-left: 0;
}

.trust-sports-col ul li {
    list-style-type: none;
}

.dark-sec-content h3 {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.dark-sec-content h3 strong {
    color: var(--aqua-color);
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-color);
}


.trust-sports-col li img {
    padding-right: 16px
}

.trust-sports-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.trust-sports-list img {
    width: 24px;
    margin-top: 5px;
    height: 24px;
    object-fit: contain;
    margin-right: 16px;
}

.trust-sports-list p {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}

.trust-sports-list {
    margin-bottom: 40px;
}

.service-accordion {
    display: flex;
    gap: 60px;
    max-width: 1310px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-accordion-tabs {
    flex-basis: 35%;
    padding: 40px 45px 40px 45px;
    border: 2px solid var(--black-color);
}

.service-accordion-content {
    flex-basis: 65%;
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.desktop-content {
    display: block;
}

.accordion-tab-heading {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.accordion-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid var(--black-color);
    background: var(--white-color);
    padding: 15px 30px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion-tab.active {
    border: 1px solid var(--aqua-color);
}

.accordion-tab.active svg {
    stroke: var(--aqua-color);
}

.accordion-tab h6 {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.accordion-tab span.fa {
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
}

.service-accordion-heading {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.accordion-sub-heading {
    color: #000;
    font-family: "Open Sans", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 15px;
}

.service-accordion-list {
    padding-left: 23px;
}

.service-accordion-list li {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.accordion-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-img {
    width: 100%;
    height: auto;
}

.accordion-content-box {
    display: none;
}

.accordion-content-show {
    display: block;
}