/* ---------------------------about section ------------------------- */
.About-banner {
  position: relative;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* optional */
  z-index: 2;
}
.About-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--Black---1, #111);
  opacity: 0.6;
  z-index: 1;
}
.testimonial{
    background-color: #111;
    color: #fff;
    padding: 40px 0;
}
.testimonial .fearured-title{
    padding: 25px 0;
    color: #fff;
}
.testimonial .fearured-title span{
    color: #009899;
}
.testimonial .testimonial-box{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.testimonial .testimonial-box .testimonial-content{
    text-align: center;
}
/* ---------------------------about section ------------------------- */
/* ---------------------------type tempate section ------------------------- */
.type-temp h1{
font-family: "Bai Jamjuree";
font-size: 48px;
font-style: italic;
font-weight: 700;
line-height: 56px;
letter-spacing: 2.4px;
text-transform: uppercase;
width: 100%;
}
.type-temp h2{
font-family: "Bai Jamjuree";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
letter-spacing: 1px;
text-transform: uppercase;
}
.type-temp .fearured-rich-text {
    margin: 20px 0;
}
.why-choose-us{
  background: #FAFAFA;
  padding: 64px 0;
}
.why-choose-us .fearured-title span{
  color: #009899;
}
.why-choose-us .container{
  display: flex;
}
.why-choose-us ul li{
  padding: 40px;
}
.why-choose-us ul li h4{
font-family: "Bai Jamjuree";
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
}
.why-choose-us ul li {
  position: relative;
  padding-left: 60px;
  margin-bottom: -30px;
  list-style: none;
}

.why-choose-us ul li::before {
  content: "";
  position: absolute;
  top: 21%;
  left: 5%;
  width: 25px;
  height: 25px;
  background-image: url('/assets/images/about/tick.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.Console-boat-listing{
  padding: 64px;
}
.Console-boat-listing .fearured-title span{
  color: #009899;
}

.Console-boat-listing .inventory-grid {
  display: grid;
   grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 40px 20px;
}
.Console-boat-listing .inventory-grid .inventory-cards .inventory-card-img img{
  width: 100%;
}

@media (max-width: 1200px) {
  .inventory-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 992px) {

.doss-featured-col .content-box
 {
        text-align: center;
        align-items: center;
    }

  .Console-boat-listing {
    padding: 15px;
}
  .inventory-grid {
    grid-template-columns: repeat(3, 1fr) !important; 
  }
    .doss-featured-box {
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      flex-direction: column;
  }
  .why-choose-us .container{
  display: block;
}
.why-choose-us ul li::before {
    top: 24%;
    left: 3%;
}
}

@media (max-width: 768px) {
  .Console-boat-listing {
    padding: 15px;
}
  .inventory-grid {
    grid-template-columns: repeat(2, 1fr) !important; 
  }
}

@media (max-width: 576px) {
  .inventory-grid {
    grid-template-columns: repeat(1, 1fr) !important; 
  }
  .testimonial .testimonial-box {
    flex-wrap: wrap;
}
}

/* ---------------------------type tempate section ------------------------- */