
/* -----------------------consignment page -------------------------------- */
.form-section {
  padding: 60px 20px;
  background-color: #fafafa;
}

.form-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.form-title {
color: #000;
text-align: center;
font-family: "Bai Jamjuree";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 1.6px;
text-transform: uppercase;
}

.generic-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.form-input,
.form-textarea {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 15px;
  width: 100%;
}
.form-input,
.form-textarea ::placeholder{
    color: #000;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    opacity: 0.6;
}

.form-textarea {
  resize: none;
    color: #000;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    opacity: 0.6;
}

.form-subtitle {
    color: #000;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.form-button {
  background-color: #009b9f;
  color: #fff;
  border: none;
  padding: 12px 50px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
  transition: 0.3s;
}

.form-button:hover {
  background-color: #007f84;
}

/* -----------------------consignment page -------------------------------- */
/* -----------------------contact page -------------------------------- */

.cntactbanner-img{
    position: relative;
}
.contact-form-box {
    max-width: 680px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    position: absolute;
    right: 11%;
    top: 20%;
}
.contact-form-box h2{
font-family: "Bai Jamjuree";
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 1.6px;
text-transform: uppercase;
}
.contact-form-box button{
    border-radius: 0;
}


.contact-image img {
  object-fit: cover;
  height: 100%;
}

.contact-form .form-control {
  border: 1px solid #d9d9d9;
  border-radius: 0;
font-family: "Bai Jamjuree";
  font-size: 15px;
  padding: 24px;
}

.contact-form .form-control::placeholder {
font-family: "Bai Jamjuree";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
}

.contact-info {
    max-width: 80%;
    margin: 0 auto;
}
  .cntctdetails{
    text-align: center;
    padding: 60px 0;
  }
  .cntctdetails h1{
    font-family: "Bai Jamjuree";
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px; 
    letter-spacing: 2.4px;
    text-transform: uppercase;
  }
  .cntctdetails p{
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }


/* Responsive */
@media (max-width: 992px) {
  .contact-form-box {
    padding: 40px 30px;
  }
}

@media (max-width: 768px) {
  .contact-section .row {
    flex-direction: column;
  }

  .contact-image img {
    height: 300px;
  }


}

/* -----------------------contact page -------------------------------- */










@media screen and (max-width: 991px) {
    .Why-Consign .Why-Consign-list .testimonial-content{
        padding: 20px;
    }

    
  .form-container {
    max-width: 90%;
  }

  .form-title {
    font-size: 28px;
    line-height: 36px;
  }

  .form-button {
    padding: 12px 40px;
  }
  .featured-sec .content-box {
    padding: 64px 0;
    width: 90%;
    margin: 0 auto;
}

}
@media screen and (max-width : 768px) {
    .form-input, .form-textarea{
        flex: none;
    }
}