@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #111;
    --aqua-color: #009899;
    --white-color: #FFF;
}

/* Common css start here  */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.my-40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

p {
    margin-bottom: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}

ul {
    margin-bottom: 0;
}

.white-to-gold-btn {
    color: var(--black-color);
    text-align: center;
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--white-color);
    border: 1px solid var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    text-transform: capitalize;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
}

.white-to-gold-btn:hover {
    background: var(--gold-color);
    border: 1px solid var(--gold-color);
    color: var(--white-color);
}

.black-to-gold-btn {
    color: var(--white-color);
    text-align: center;
    font-family: "Zilla Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    background: var(--black-color);
    border: 1px solid var(--black-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    text-transform: capitalize;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
}

.black-to-gold-btn:hover {
    background: var(--gold-color);
    color: var(--black-color);
    border: 1px solid var(--gold-color);
}

.rich-text {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.title-heading {
    font-family: "Zilla Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
}

.sm-title-heading {
    font-family: 'Urbane-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

/* Common css end here  */


/* desktop header css strat here */

/* header-start here */

.header-container {
    padding-right: 120px;
    padding-left: 120px;
}

.header-box {
    display: flex;
}

.logo-box {
    width: 20%;
    padding: 20px 0;
}

.right-nav-box {
    width: 15%;
}

.centaral-nav-box {
    width: 65%;
}

.desktop-header .centaral-nav-link,
.desktop-header .left-nav-link {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.desktop-header .centaral-nav-link {
    padding: 0 17px;
    color: var(--white-color);
}

.desktop-header li {
    list-style: none;
}

.grecaptcha-badge {
    display: none;
}

.desktop-header {
    background: var(--black-color);
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.centaral-nav {
    height: 100%;
}

.centaral-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.centaral-nav ul li {
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 320px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-nav {
    height: 100%;
}

.right-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

.header-brand-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.header-search-box {
    padding: 0 17px;
}

.header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-search span {
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}

.header-search input {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Urbane-Light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.header-search input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.location-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-location-box {
    cursor: pointer;
    text-align: right;
}


.header-location-box h6 {
    color: var(--white-color);
    margin-bottom: 0;
    text-align: right;
    font-family: "Bai Jamjuree";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.header-location-box p a {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-resources-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-resources-box a {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--black-color);
}

.header-resources-box svg {
    cursor: pointer;
}

/* mega menus start here */
.mega-menu-wrapper {
    position: relative;
    background: var(--white-color);
    box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.30);
}

.close-mega-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 23px;
    color: var(--black-color);
    opacity: 0.5;
}

.close-mega-menu span {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 5px;
}

.mega-menu-box {
    padding: 40px 15px 65px 15px;
    max-width: calc(100% - 25%);
    margin: 0 auto;
    display: none;
}

.mega-menu-col-1 h6 {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.mega-menu-col-1 ul li>a {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    display: block;
}

.mega-menu-col-1 .top-list-box {
    margin-bottom: 56px;
}

.menu-card {
    position: relative;
    margin-bottom: 8px;
}

.mega-boats-box {
    display: flex;
    flex-wrap: wrap;
}

.mega-menu-container {
    display: flex;
}

.mega-menu-col-1 {
    width: 42%;
    display: flex;
}

.mega-menu-col-2 {
    width: 58%;
}

.mega-menuinner-col {
    width: 50%;
}

.mega-menu-col-2 h5 {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-left: 7.5px;
}

.mega-boats-col {
    width: calc(100% / 3);
    padding: 0 4px;
}

.menu-card-img {
    position: relative;
    padding-top: 56%;
}

.menu-card-logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120px;
    margin: 0 auto;
}

.menu-card-logo>.menu-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-card-img>.menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-card-title {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu-card-title h6 {
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.service-mega-menu {
    display: flex;
    width: calc(100% - 30%);
    margin: 0 auto;
}

.service-dropdown-card {
    width: calc(100% / 3);
    padding: 0 4px;
    display: block;
}

.service-mega-menu-img {
    position: relative;
    padding-top: 56%;
}

.service-mega-menu-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-mega-menu-title {
    margin-top: 8px;
}

.service-mega-menu-title h6 {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
}

/* dropdown start here */
.toggle-dropdown {
    position: relative;
}

.sm-dropdown {
    position: absolute;
    top: 100px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-width: 300px;
    background: #000;
    height: auto !important;
    padding: 10px 55px 38px 40px;
    display: none !important;
    z-index: 100;
}

.sm-dropdown li a {
    color: #FFF;
    font-family: Oswald-semibold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.doss-dropdown.show-mega-menu {
    display: block !important;
}


/* mobile header start here */

.mobile-header {
    display: none;
}

.mobile-header-list {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 200;
    width: 100%;
    background: white;
}

.mobile-header-list.mobile-menu-show {
    display: none !important;
}

.mobile-header-list ul {
    padding: 0;
}

.mobile-header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    width: 100%;
    height: 90px;
    background: var(--black-color);
    z-index: 500;
}

.mobile-header-img {
    max-height: 90px;
    height: 100%;
}

.mobile-header-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom-toggle-icon span.fa {
    font-size: 30px;
    background-color: #241C1C;
    color: white;
}

.custom-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
    text-transform: uppercase;
}

.custom-nav-link:hover {
    text-decoration: none;
    color: black;
}

.mobile-header-list ul li {
    list-style: none;
    border-bottom: 2px solid lightgray;
}

.submenu-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
}

.content-menu.mobile-menu-show {
    display: block;
}

.content-menu {
    display: none;
}

.nav-search {
    border: none !important;
}

.nav-search:focus {
    box-shadow: none;
    outline: none;
}

.mobile-header-number {
    text-decoration: none;
    color: #fff;
}

.mobile-header-number:hover {
    text-decoration: none;
    color: #fff;
}

/* mobile header end here */


/* footer css start here */

/* footer start here */
footer {
    background: var(--black-color);
}

.footer-container {
    width: calc(100% - 20%);
    margin: 0 auto;
    padding: 80px 0;
}

.footer-main-box {
    display: flex;
}

.footer-main-col-1 {
    width: 30%;
}

.footer-main-col-2 {
    width: 70%;
}

.footer-logo-box {
    text-align: center;
    max-width: 320px;
}

.footer-logo-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.footer-address-box p {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
    text-align: left;
}

.footer-address-box p a {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
    text-align: left;
}

.mutlti-column-box {
    display: flex;
}

.mutlti-column-box li {
    list-style: none;
    line-height: 35px;
}

.mutlti-column-1 {
    width: calc(100% / 3);
    padding: 0 10px 0 0;
}

.mutlti-column-1 h6 {
    color: var(--white-color);
    font-family: 'Urbane-Semibold';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.mutlti-column-1 ul li a {
    color: var(--white-color);
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.7;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom ul li {
    list-style: none;
    color: #1E1E1E;
    text-align: center;
    font-family: 'acumin-light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.42px;
    padding: 10px 15px;
}

.footer-bottom ul li a {
    color: #1E1E1E;
    text-align: center;
    font-family: 'acumin-light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.42px;
    text-decoration: underline;
}

.footer-bottom {
    background: #F3F3F3;
}

.social-icons-box {
    text-align: left;
}

.social-icons-box ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-icons-box ul li {
    list-style: none;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 1px solid var(--white-color);
}

.social-icons-box ul li span.fa {
    color: var(--white-color);
}

/* hom page css start here */

.home-banner {
    position: relative;
    padding-top: 50%;
    min-height: 300px;
}

.home-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.home-banner-content {
    position: absolute;
    bottom: 120px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    padding-left: 200px;
}

.banner-title {
    font-family: "Zilla Slab";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 72px;
    color: var(--white-color);
    text-align: left;
}