@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black-color: #111;
    --aqua-color: #009899;
    --white-color: #FFF;
    --gray-color: #D9D9D9;
}

/* Common css start here  */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}

.my-40 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

p {
    margin-bottom: 0;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
}

ul {
    margin-bottom: 0;
}

.theme-filled-btn {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-filled-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.theme-outline-btn {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-outline-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.theme-btn {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid var(--aqua-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 37px;
    text-decoration: none;
    transition: all 0.5s;
    min-width: 160px;
    min-height: 40px;
    flex-shrink: 0;
    transform: skew(-10deg);
}

.theme-btn:hover {
    background: var(--aqua-color);
    border: 1px solid var(--aqua-color);
    color: var(--white-color);
}

.rich-text {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.section-title {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.fearured-title {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.fearured-lg-title {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.title-heading {
    font-family: "Zilla Slab";
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
}

.sm-title-heading {
    font-family: 'Urbane-Light';
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 40px;
}

/* Common css end here  */


/* desktop header css strat here */

/* header-start here */

.header-container {
    padding-right: 120px;
    padding-left: 120px;
}

.header-box {
    display: flex;
}

.logo-box {
    width: 20%;
    padding: 20px 0;
}

.right-nav-box {
    width: 15%;
}

.centaral-nav-box {
    width: 65%;
}

.desktop-header .centaral-nav-link,
.desktop-header .left-nav-link {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.desktop-header .centaral-nav-link {
    padding: 0 17px;
    color: var(--white-color);
}

.desktop-header li {
    list-style: none;
}

.grecaptcha-badge {
    display: none;
}

.desktop-header {
    background: var(--black-color);
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.centaral-nav {
    height: 100%;
}

.centaral-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.centaral-nav ul li {
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    max-width: 320px;
}

.header-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-nav {
    height: 100%;
}

.right-nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

.header-brand-logos {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.header-search-box {
    padding: 0 17px;
}

.header-search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-search span {
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
}

.header-search input {
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Urbane-Light';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.header-search input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.location-dropdown {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header-location-box {
    cursor: pointer;
    text-align: right;
}


.header-location-box h6 {
    color: var(--white-color);
    margin-bottom: 0;
    text-align: right;
    font-family: "Bai Jamjuree";
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.header-location-box p a {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header-resources-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header-resources-box a {
    font-family: 'Urbane-Light';
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: var(--black-color);
}

.header-resources-box svg {
    cursor: pointer;
}

/* mega menus start here */
.mega-menu-wrapper {
    position: relative;
    background: var(--white-color);
    box-shadow: 0 12px 20px -8px rgba(0, 0, 0, 0.30);
}

.close-mega-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 23px;
    color: var(--black-color);
    opacity: 0.5;
}

.close-mega-menu span {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 5px;
}

.mega-menu-box {
    padding: 40px 15px 65px 15px;
    max-width: calc(100% - 25%);
    margin: 0 auto;
    display: none;
}

.mega-menu-col-1 h6 {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.mega-menu-col-1 ul li>a {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
    display: block;
}

.mega-menu-col-1 .top-list-box {
    margin-bottom: 56px;
}

.menu-card {
    position: relative;
    margin-bottom: 8px;
}

.mega-boats-box {
    display: flex;
    flex-wrap: wrap;
}

.mega-menu-container {
    display: flex;
}

.mega-menu-col-1 {
    width: 42%;
    display: flex;
}

.mega-menu-col-2 {
    width: 58%;
}

.mega-menuinner-col {
    width: 50%;
}

.mega-menu-col-2 h5 {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-left: 7.5px;
}

.mega-boats-col {
    width: calc(100% / 3);
    padding: 0 4px;
}

.menu-card-img {
    position: relative;
    padding-top: 56%;
}

.menu-card-logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 120px;
    margin: 0 auto;
}

.menu-card-logo>.menu-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-card-img>.menu-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-card-title {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
    text-align: center;
}

.menu-card-title h6 {
    color: #FFF;
    font-family: Oswald-Regular;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.service-mega-menu {
    display: flex;
    width: calc(100% - 30%);
    margin: 0 auto;
}

.service-dropdown-card {
    width: calc(100% / 3);
    padding: 0 4px;
    display: block;
}

.service-mega-menu-img {
    position: relative;
    padding-top: 56%;
}

.service-mega-menu-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-mega-menu-title {
    margin-top: 8px;
}

.service-mega-menu-title h6 {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    text-align: center;
}

/* dropdown start here */
.toggle-dropdown {
    position: relative;
}

.sm-dropdown {
    position: absolute;
    top: 100px;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    min-width: 300px;
    background: #000;
    height: auto !important;
    padding: 10px 55px 38px 40px;
    display: none !important;
    z-index: 100;
}

.sm-dropdown li a {
    color: #FFF;
    font-family: Oswald-semibold;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.doss-dropdown.show-mega-menu {
    display: block !important;
}


/* mobile header start here */

.mobile-header {
    display: none;
}

.mobile-header-list {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 200;
    width: 100%;
    background: white;
}

.mobile-header-list.mobile-menu-show {
    display: none !important;
}

.mobile-header-list ul {
    padding: 0;
}

.mobile-header-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;
    width: 100%;
    height: 90px;
    background: var(--black-color);
    z-index: 500;
}

.mobile-header-img {
    max-height: 90px;
    height: 100%;
}

.mobile-header-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.custom-toggle-icon span.fa {
    font-size: 30px;
    background-color: #241C1C;
    color: white;
}

.custom-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
    text-transform: uppercase;
}

.custom-nav-link:hover {
    text-decoration: none;
    color: black;
}

.mobile-header-list ul li {
    list-style: none;
    border-bottom: 2px solid lightgray;
}

.submenu-nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Oswald-SemiBold';
}

.content-menu.mobile-menu-show {
    display: block;
}

.content-menu {
    display: none;
}

.nav-search {
    border: none !important;
}

.nav-search:focus {
    box-shadow: none;
    outline: none;
}

.mobile-header-number {
    text-decoration: none;
    color: #fff;
}

.mobile-header-number:hover {
    text-decoration: none;
    color: #fff;
}

/* mobile header end here */


/* footer css start here */

/* footer start here */
.newsletter {
    background-color: var(--white-color);
    text-align: center;
    color: #000;
    padding: 40px 20px;
    border-bottom: 1px solid var(--gray-color);
}

footer {
    background-color: var(--white-color);
}

.newsletter h2 {
    color: var(--black-color);
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.newsletter p {
    color: var(--black-color);
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 46px;
}

.newsletter-form {
    margin: 20px auto;
    max-width: 350px;
    border: 1px solid #ccc;
    display: flex;
    height: 41px;
}

.newsletter-form input {
    padding: 10px;
    width: calc(100% - 30px);
    height: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.newsletter-form button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    line-height: normal;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    color: var(--white-color);
    font-size: 16px;
    border: 1px solid var(--aqua-color);
    padding: 7px 9px;
    line-height: normal;
    background: var(--aqua-color);
}

.footer-box {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.footer-grid {
    display: flex;
    gap: 40px;
    padding: 60px 40px;
}

.footer-col-1 {
    width: 75%;
    display: flex;
    position: relative;
    gap: 40px;
}

.footer-col-2 {
    width: 25%;
}

.footer-mobile-box {
    display: none;
}

.footer-column {
    width: calc(100% / 4);
}

.footer-column h4,
.footer-column h3 {
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.footer-column ul {
    list-style: none;
    padding-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
}

.footer-column ul li {
    cursor: pointer;
    padding: 16px 0;
}

.footer-column ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.arrow-link {
    border-bottom: 1px solid var(--gray-color);
}

.footer-col-1::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 1px;
    height: 300px;
    background: var(--gray-color);
}

.footer-logo {
    max-width: 315px;
    width: 100%;
    margin: 0 auto 33px auto;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.address {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.phone a {
    margin-top: 10px;
    color: var(--aqua-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
}

.footer-container {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.bottom-links {
    position: relative;
    padding: 0 15px;
    color: #d3d3d3b8;
    text-align: center;
    font-family: Gantari;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-links+.bottom-links::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 1px;
    height: 15px;
    background: var(--black-color);
    opacity: 0.5;
    transform: translateY(-46%);
}

.footer-bottom ul li {
    list-style: none;
    color: var(--black-color);
    opacity: 0.5;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 15px;
}

.footer-bottom ul li a {
    color: var(--black-color);
    text-align: center;
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.recaptcha-disclaimer {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0;
}

.footer-bottom {
    padding-bottom: 15px;
}

/* hom page css start here */

.home-banner {
    position: relative;
    padding-top: 42%;
}

.home-banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.home-banner-btn {
    position: absolute;
    bottom: 123px;
    transform: translateX(-50%);
    left: 50%;
}

.home-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    padding: 0 15px;
    transform: translate(-50%, -50%);
}

.banner-title {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

.banner-subtitle {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.brand-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.brand-items {
    list-style: none;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    height: 100px;
    background-color: black;
}

.brand-items a img {
    padding: 17px 20px;
    max-width: 200px;
    width: 100%;
}

.brand-sec {
    padding: 80px 0;
}

.arrival-slider .home-inventory-cards .inventory-card-img {
    position: relative;
    padding-top: 70%;
}

.arrival-slider .home-inventory-cards .inventory-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boat-condition-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.specs-list-item {
    list-style: none;
    position: relative;
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
    white-space: nowrap;
}

.specs-list-item+.specs-list-item::after {
    position: absolute;
    content: '';
    top: 50%;
    left: -10px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 14px;
    background: var(--gray-color);
}

.arrival-slider-sec-header {
    margin-bottom: 40px;
}

.boat-title a {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.inventory-card-price {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.arrival-slider .owl-nav {
    display: block !important;
}

.arrival-slider .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.arrival-slider .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.madis-container {
    width: calc(100% - 19%);
    margin: 0 auto;
    display: flex;
}

.madis-col {
    width: 50%;
}

.madis-col-img-box {
    position: relative;
    padding-top: 80%;
}

.madis-col-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.madis-col-content {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.madis-col-content h3 {
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.featured-inventory-sec {
    padding-top: 80px;
}

.financing-sec {
    display: flex;
    max-width: 1400px;
    margin: 80px auto 80px auto;
    width: 100%;
}

.financing-col {
    width: calc(100% / 3);
    position: relative;
    padding: 55px 47px;
}

.sm-financing-sec {
    display: flex;
    gap: 20px;
}

.financing-col-1 {
    width: 50px;
    height: 50px;
    background: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.financing-col-1 img {
    object-fit: contain;
}

.financing-col-2 {
    width: calc(100% - 50px);
}

.financing-col-2 h6 {
    color: var(--black-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.financing-col-2 p {
    margin-bottom: 0;

}

.financing-col-2 a {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.financing-col+.financing-col::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1px;
    height: 150px;
    background: #EEE;
}

.home_services {
    padding-bottom: 4px;
}

.lg-card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lg-card-col {
    width: calc(100% / 4 - 4px);
}

.hm_serviceBox,
.servc_img {
    height: 100%;
}

.servc_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hm_serviceBox,
.servc_img {
    height: 100%;
    position: relative;
}

.hms_title {
    position: absolute;
    transform: translateX(-50%);
    bottom: 50px;
    left: 50%;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
    color: var(--white-color);
    font-family: "Bai Jamjuree";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    z-index: 1;
}

.servc_img::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 350px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.00) 0%, rgba(34, 34, 34, 0.80) 100%);
    z-index: 0;
}


.doss-featured {
    margin: 120px 0;
}

.doss-container {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.doss-featured-box {
    display: flex;
    margin-top: 120px;
    margin-bottom: 120px;
}

.doss-featured-col {
    width: 50%;
}

.doss-featured-img {
    width: 100%;
    height: 100%;
}

.doss-featured-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doss-featured-col .content-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.fearured-rich-text {
    margin: 40px 0;
}

.fearured-rich-text h6 {
    color: var(--black-color);
    font-family: "Bai Jamjuree";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 13px;
}

@media (max-width: 1650px) {
    .footer-box {
        width: calc(100% - 10%);
        margin: 0 auto;
    }

    .fearured-rich-text {
        margin: 30px 0 40px 0;
    }

    .fearured-title {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 1px;
    }

    .doss-featured-col .content-box {
        max-width: 600px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .madis-col-content h3 {
        font-size: 30px;
        letter-spacing: 5.4px;
        margin-bottom: 30px;
    }

    .madis-container {
        width: calc(100% - 12%);
    }

    .madis-col-content {
        bottom: 50px;
    }

    .hms_title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 1500px) {
    .hms_title {
        font-size: 23px;
        line-height: 26px;
    }

    .financing-col-2 h6 {
        font-size: 23px;
        line-height: 25px;
    }

    .financing-sec {
        margin: 75px auto 60px auto;
        max-width: 1200px;
    }

    .financing-col {
        width: calc(100% / 3);
        position: relative;
        padding: 42px 47px;
    }

    .financing-col+.financing-col::after {
        height: 134px;
    }
}

@media screen and (max-width: 1440px) {
    .footer-box {
        width: calc(100% - 5%);
    }

    .financing-col {
        padding: 30px 47px;
    }

    .financing-col+.financing-col::after {
        height: 119px;
    }

    .brand-sec {
        padding: 50px 0;
    }

    .home-banner-btn {
        bottom: 80px;
    }
}

@media screen and (max-width: 1300px) {
    .footer-grid {
        padding: 60px 20px;
    }

    .footer-col-1 {
        gap: 25px;
    }

    .hms_title {
        font-size: 20px;
        letter-spacing: 2.5px;
    }
}

@media screen and (max-width: 1200px) {
    .financing-col-2 h6 {
        font-size: 20px;
        line-height: 25px;
    }

    .madis-container {
        width: 100%;
        padding: 0 30px;
    }

    .banner-title {
        font-size: 35px;
        line-height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .footer-col-2 {
        width: 100%;
    }

    .footer-grid {
        flex-flow: column-reverse;
    }

    .doss-featured-img {
        width: 100%;
        height: 100%;
    }

    .footer-col-1 {
        display: none;
    }

    .footer-accordion {
        border-top: 2px solid var(--gray-color);
    }

    .footer-mobile-box {
        display: block;
    }

    .footer-accordion-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0;
    }

    .footer-accordion-content {
        display: none;
    }

    .footer-accordion-header span:nth-child(1) {
        color: var(--black-color);
        font-family: "Bai Jamjuree";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .footer-accordion-content ul {
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .footer-accordion-content ul li {
        list-style: none;
        padding: 5px 0;
    }

    .footer-accordion-content ul li a {
        color: var(--black-color);
        font-family: "Bai Jamjuree";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: block;
    }

    .footer-accordion-content .menu-logo-box {
        padding: 0 0;
    }

    .menu-logo-box {
        display: flex;
        padding: 40px 30px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .menu-logo {
        width: 182px;
        height: 56px;
        padding: 15px 25px;
        border: 1px solid #D9D9D9;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #222;
    }

    .menu-logo img {
        max-width: 103px;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .footer-accordion-header span.rotate {
        transform: rotate(180deg) !important;
        transition: transform 0.3s ease;
    }

    .doss-featured-col .content-box {
        padding: 50px 20px;
        max-width: 100%;
        text-align: left;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    .doss-featured-col {
        width: 100%;
    }

    .doss-featured-img>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .doss-container {
        width: 100%;
        padding: 0 20px;
    }

    .doss-featured-box {
        margin-top: 80px !important;
        margin-bottom: 50px !important;
        flex-direction: column;
    }

    .lg-card-col {
        width: calc(100% / 2 - 2px);
        margin-bottom: 4px;
    }

    .financing-sec {
        margin: 80px auto 80px auto;
        max-width: 1000px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sm-financing-sec {
        justify-content: center;
        border-bottom: 1px solid rgba(52, 58, 64, 0.40);
        padding: 27px;
    }

    .financing-col {
        width: calc(100% / 1);
        position: relative;
        padding: 0 50px;
    }

    .madis-col-content {
        bottom: 40px;
    }

    .madis-col {
        width: 100%;
    }

    .madis-col-content h3 {
        font-size: 24px;
        letter-spacing: 4.8px;
        margin-bottom: 24px;
    }

    .madis-container {
        flex-direction: column;
    }

    .home-banner-btn {
        bottom: 50px;
    }
}

@media screen and (max-width: 767px) {

    .hm_serviceBox,
    .servc_img {
        min-height: 300px;
    }

    .brand-items a img {
        max-width: 135px;
    }

    .brand-items {
        width: 200px;
        height: 70px;
    }
}

@media screen and (max-width: 576px) {
    .footer-bottom ul li {
        font-size: 12px;
    }

    .menu-logo {
        width: 150px;
        height: 56px;
    }

    .footer-bottom ul li a {
        font-size: 12px;
    }

    .lg-card-col {
        width: 100%;
    }

    .hms_title {
        bottom: 60px;
        color: var(--white-color);
        font-family: "Bai Jamjuree";
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }

    .financing-col {
        width: calc(100% / 1);
        position: relative;
        padding: 0 20px;
    }
}

@media screen and (max-width: 450px) {
    .footer-bottom ul {
        flex-direction: column;
        padding: 15px 0 20px 0;
    }

    .bottom-links+.bottom-links::after {
        display: none;
    }

    .footer-bottom ul li {
        padding: 3px 15px;
    }

    .hms_title {
        bottom: 30px;
        font-size: 25px;
        line-height: 34px;
    }

    .brand-sec {
        padding: 40px 0;
    }

    .brand-items a img {
        max-width: 125px;
    }

    .brand-items {
        width: 150px;
        height: 62px;
    }
}